/* En-tête */
header {
    color: #fff;
    text-align: center;
    padding-top: 10%;
  }


/* Navbar -> effet après survol */
.lien-nav:hover {
    box-shadow: inset 200px 0px 0px 0px #3669f1;
    transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

  }


/* Navbar Item -> effet après survol */
#navbar-nav .lien-nav:hover {
  transform: scale(1.1);
}


/* Navbar Item -> effet après activation (clique) */
.nav-item.show .nav-link, .nav-link.active {
    background-color: #4162be;
    border-color: #4e5d6c;
  }

/* Styles des lignes horizontales */
.hr-styles{
background: rgb(43,165,212);
background: linear-gradient(90deg, rgb(39, 182, 238) 20%, rgba(68,244,147,1) 50%, rgb(39, 182, 238) 85%);
}

.hr-styles-2{
background: rgb(43,165,212);
background: linear-gradient(90deg, rgb(137, 63, 235) 20%, rgb(68, 221, 241) 50%, rgb(137, 63, 235) 85%);
}


/* Effet d'agrandissement après survol souris */
.button-grow:hover {
  transform: scale(1.1);
}

/* Rendre la navbar responsive (pour les petits écrans) */
@media (max-width: 767.98px) {

    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }
  
    .navbar-nav.active {
        display: flex;
    }
  
    .navbar-toggler {
        display: block;
    }
  
    .nav-item {
        text-align: center;
    }
  }


/* Gestion du margin-top pour les écrans moyens (type tablette) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .mt-md-1{
    margin-top: 1em;
  }
  
}


/* Gestion du margin-top pour les écrans moyens (types smartphone) */
@media (max-width: 575.98px) {
  
    .mt-sm-2 {
        margin-top: 2em;
    }
  
    .mt-sm-1 {
      margin-top: 1em;
  }

  .mt-sm-6 {
    margin-top: 6em;
  }
  
  }
  

/* Gestion de la justification des items de la navbar selon la taille d'écran) */
@media (max-width: 576px) {
  .justify-content-center-resp{justify-content: left;}
}

@media (min-width: 576px) {
  .justify-content-center-resp{justify-content: center;}
}
