/* Contenu principal */
main{
  background-image: radial-gradient(circle at 25%  120%,
  #092339 15%,
  #09233951 25%,
  #0a375f4c 25%,
  #0a375f77 50%,
  #092c4a 50%,
  #092c4a4c 75%,
  #092339b2 75%, 
  #09233900 100%); 
  /* filter: grayscale(20%); */
  background-color: rgba(38, 75, 149, 0.2);
}

/* En-tête */
header {
    color: #fff;
    text-align: center;
    padding-top: 10em;
  }

/* Font */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.architects-daughter-medium {
  font-family: "Architects Daughter", cursive;
  font-weight: 500;
  font-style: normal;
}


/* Gestion du margin-top pour les écrans moyens (type tablette) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .margin-top-md-1{
    margin-top: 1em;
  }
  
}


/* Gestion du margin-top pour les petits écrans (type smartphone) */
@media (max-width: 575.98px) {

  .margin-top-sm-1 {
    margin-top: 1em;
  }
  
  .margin-top-sm-2 {
        margin-top: 2em;
    }

  .margin-top-sm-6 {
    margin-top: 6em;
  }
  
  }

/* Gestion de l'alignement du texte selon la taille de l'écran */
@media (max-width: 575.98px) {
  .col-10-custom{
    text-align: left;
    width: 83.33%;
    padding: 0%;
  }
}

@media (min-width: 576px) {
  .col-10-custom{
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .col-10-custom-1{
    text-align: left;
    width: 83.33%;
    padding: 0%;
    padding-left: 14vw;
  }
}

@media (max-width: 575.98px) {
  .col-10-custom-2{
    text-align: left;
    width: 83.33%;
    padding: 0%;
    padding-left: 6vw;
  }
}

@media (max-width: 575.98px) {
  .col-10-custom-3{
    text-align: left;
    width: 83.33%;
    padding: 0%;
    padding-left: 2vw;
  }
}

@media (max-width: 575.98px) {
  .col-8-custom-experiences{
    text-align: left;
    width: 66.67%;
    padding: 0%;
    padding-left: 10vw;
  }
} 


@media (min-width: 576px) {
  .padding-left-custom{
    padding-left: 2vw;
  }
}


/* Rendre la navbar responsive (pour les petits écrans) */
@media (max-width: 767.98px) {

  .navbar-nav {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar-nav.active {
      display: flex;
  }

  .navbar-toggler {
      display: block;
  }

  .nav-item {
      text-align: center;
  }
}


/* Gestion de la justification des items de la navbar selon la taille d'écran */
@media (max-width: 576px) {
  .justify-content-center-resp{justify-content: left;}
}

@media (min-width: 576px) {
  .justify-content-center-resp{justify-content: center;}
}


/* Centrer le texte pour les petits écrans (type smartphone) */
@media (max-width: 575.92px){
  .center-text-sm {
    text-align: center;
  
    }
  }


/* Style pour l'icône de navigation (smartphone) */
.nav-icon-custom {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

.nav-icon-customRotate.active {
  transform: rotate(45deg);
}

.nav-icon-customRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#a59cf7;
  stroke-width: 7;
  stroke-linecap:round;
}

.nav-icon-close-custom .top {
  stroke-dasharray: 40 139;
}

.nav-icon-close-custom .bottom {
  stroke-dasharray: 40 180;
}

.nav-icon-close-custom.active .top {
  stroke-dashoffset: -98px;
}

.nav-icon-close-custom.active .bottom {
  stroke-dashoffset: -138px;
}


/* Effet de flou si affichage de la popup */
.blur-in {
  animation: blur 1s forwards;
}
    
@keyframes blur {
  from {
      filter: blur(0px);
  }

  to {
      filter: blur(3px); /* Applique un flou de 3px */
  }
}

.blur-out {
  animation: blur-out 1s forwards;
}

@keyframes blur-out {
  from {
      filter: blur(3px);
  }

  to {
      filter: blur(0px);
  }
}

/* Style du pop-up */
/* .popup {
  display: none; 
  Le pop-up est caché par défaut
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px;
  border: 2px solid #000;
  z-index: 9999;
} */

/* .popup button {
  right: 10px;
  position: absolute; 
} */

/* Couche de fond assombrie derrière le popup */
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(161, 28, 28, 0.1); Couche semi-transparente */
  /* z-index: 999; Sous le popup mais au-dessus du contenu */
  /* display: block; Cache l'overlay par défaut */
/* } */


/* Style de la popup (smartphone/tablette) */

@media (max-width: 575.98px) {
.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 35px;
  display: none; /* Masque le popup par défaut */
  }
}

@media (min-width: 576px) {
  .popup {
    position: fixed;
    width: 70%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 35px;
    display: none; /* Masque le popup par défaut */
  }
}

.h5-popup {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1.5%;
  color: #fff;
  background-color: #FF704D;
}


.box {
  border-radius: 5px;
  background-color: white;
  color: black;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  /* z-index: 1000; */
}

.close-button {
  transition: all 0.5s ease;
  position: absolute;
  background-color: #FF9980;
  padding: 2px 7px;
  right: 0;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  z-index: 1000;
}


/* Gestion de la position des icônes */
@media (min-width: 576px) {
  .custom-icon-position{
    text-align: right;
  }
} 

@media (max-width: 575.98px) {
  .custom-icon-position-sm{
    text-align: center;
  }
} 

/* Navbar -> effet après survol (écran pc) */
@media (min-width: 1200px){
.lien-nav:hover {
    box-shadow: inset 200px 0px 0px 0px #3669f1;
    transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }
}

/* Navbar Item -> effet après survol */
#navbar-nav .lien-nav:hover {
  transform: scale(1.1);
}


/* Navbar Item -> effet après activation (clique) */
.nav-item.show .nav-link, .nav-link.active {
    background-color: #4162be;
    border-color: #4e5d6c;
  }

/* Progress Bar */
#progress-bar {
  width: 100%;
  /* background: rgb(146, 172, 210); */
  background: rgb(81, 102, 134); 
  height: 5px;
  position: absolute;
  bottom: 0;
  z-index: 20;
  left: 0;
}

#progress {
  display: inline-block;
  /* background: linear-gradient(90deg, rgb(96, 165, 230) 0%, rgb(5, 52, 96) 57%); */
  background: white;
  height: 5px; 
  vertical-align: top;
  transition: all 0.1s ease-in-out;
}

/* Styles des lignes horizontales */
.hr-styles{
/* background: rgb(43,165,212); */
/* background: linear-gradient(90deg, rgb(39, 182, 238) 20%, rgba(68,244,147,1) 50%, rgb(39, 182, 238) 85%); */
background: linear-gradient(90deg, rgba(129, 91, 255, 0.5) 30%, rgb(141, 114, 230) 50%, rgb(129, 91, 255, 0.5) 70%);
z-index: 1000;
}

.hr-styles-2{
background: rgb(43,165,212);
background: linear-gradient(90deg, rgb(137, 63, 235) 20%, rgb(68, 221, 241) 50%, rgb(137, 63, 235) 85%);
}


/* Card avec mes infomations */
.card-header{
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  /* background: radial-gradient(circle, rgb(2, 28, 50) 20%, rgb(9, 30, 47) 50%, rgba(7, 24, 41, 0.892) 100%); */
  /* background: radial-gradient(circle, rgb(8, 50, 85) 20%, rgb(21, 49, 71) 50%, rgb(23, 51, 79) 100%); */
  background: rgb(24, 60, 92);
  border: none;
  /* box-shadow: 0 5px 30px -5px rgb(0, 0, 0, 1); */
  /* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 80%); */
}



/* Permet de faire en sorte que la variable "angle" varie dans l'animation */
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card-header::after, .card-header::before{
  content: "";
  position: absolute;
  height: calc(100% + 8px);
  width: calc(100% + 8px);
  /* background: conic-gradient(from var(--angle), transparent 80%, rgb(184, 94, 226)); */
  background: conic-gradient(from var(--angle), transparent 70%, rgb(38, 65, 242));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 20px;
  /* box-shadow: 0 5px 30px -5px rgb(0, 0, 0); */
  animation: 6s spin cubic-bezier(0.3, 0.4, 0.2, 1) forwards;
}

.card-header::before{
  filter: blur(2rem);
}

@keyframes spin {

    0%{
      --angle: 0deg;
      opacity: 1;
    }

    50%{
      opacity: 0.8;
    }

    75%{
      opacity: 0.5;
    }

    100%{
      --angle: 360deg;
      opacity: 0;
    }
}


/* Card pour la présentation de mon parcours */
.card-presentation {
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: #ffffff;
  background-image: linear-gradient(20deg, rgba(149, 28, 58, 0.3), transparent 90%);
  background-color: #0000003b;
  z-index: 1;
  opacity: 1;
}



/* Effet d'agrandissement après survol souris */
.button-resume-grow:hover {
  transform: scale(1.1);
}


/* Style du bouton de téléchargement du CV */
.custom-btn-resume {
  color: #fff;
  background: #678bf0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}


.button-resume:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -2px -2px 10px 0px #819deb,
   -2px -2px 2px 0px #819deb;
  transition: all 0.3s ease;
  border-radius: 10px;
}


.button-resume:hover {
  color: #000;
}
.button-resume:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}


/* Effet sur la liste des qualites */
.liste-qualites-effet-gauche {
  transition: transform 1s ease, opacity 0.2s ease; /* Transition pour l'animation */
  transform: translateX(-100%); /* Commence à l'extérieur à gauche */
  opacity: 0; /* Texte invisible par défaut */
}

.liste-qualites-effet-droite {
  transition: transform 1s ease, opacity 0.2s ease;
  transform: translateX(100%); /* Commence à l'extérieur à droite */
  opacity: 0; 
}

.effet-transition-haut-1 {
  transition: transform 0.7s ease-in-out, opacity 0.2s ease;
  transform: translateY(300%);
  opacity: 0;
}


.effet-transition-haut {
  transition: transform 0.7s ease-in-out, opacity 0.2s ease;
  transform: translateY(60%);
  opacity: 0;
}


/* Styles sur les markers des listes */
li.programmation-liste::marker{
  content: '🚀  ';
  font-size: 1.5em;
}

li.langues-liste::marker{
  content: '🗨️   ';
  font-size: 1.5em;
}

li.suite-office-liste::marker{
  content: '📊   ';
  font-size: 1.5em;
}


/* Style des flèches du carousel */
.carousel-control-next-icon-style:before,
.carousel-control-prev-icon-style:after {
	color: white;
	background: rgba(255,255,255,0.2);
	padding: 1rem;
	font-size: 4vw;
	cursor: pointer;
}

.carousel-control-next-icon-style:before {
	content: "\276D";
  border-radius: 80%;
}

.carousel-control-prev-icon-style:after {
	content: "\276C";
  border-radius: 80%;
}


/* Encadrement du texte dans la page "projet" */
.encadrement {
  /* background-color: #c091ec; */
  background-image: linear-gradient(to bottom, rgba(225, 31, 31, 0.5), rgba(225, 31, 31, 0.25));
  padding: 15px;
  color: white;
  text-align: center;
  border-radius: 10px; 
  width: fit-content;
  margin: 0 auto; 
  background-color: #00000029;
}


/* Effet sur les liens de la page "projets" */

small,
.small {
  line-height: 40px;
}
small.alt,
.small.alt {
  font-size: large;
}

/* a {
  cursor: pointer;
  color: inherit;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
} */
/* a,
a:hover {
  outline: 3px dashed transparent;
} */

a.link.small {
  color: rgb(105, 147, 221);
  display: inline-block;
  position: relative;
}
a.link.small:before {
  content: '';
  z-index: -1;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
a.link.small:before {
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  height: 4px;
  /* background-color: rgba(224, 219, 63, 0.07); */
  background: rgb(105, 147, 221);
  z-index: 1000;
}
a.link.small:hover:before {
  bottom: -3px;
  height: 2px;
}

a.link.small:hover {
  color: #e0a458 !important;
}

a.link.small:hover:before {
  background-color: #e0a458 !important;
}

/* Effet sur les liens dans le footer */
a.link:not(.small) {
  font-weight: 700;
  display: inline-block;
  position: relative;
}
a.link:not(.small):before {
  content: '';
  z-index: -1;
  display: block;
  /* -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s; */
  transition: all 0.7s cubic-bezier(0.1, 1, 0.22, 1) 0s;
}
a.link:not(.small):before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 2px;
}
a.link:not(.small):hover:before {
  width: 160px;
}

a.link:not(.small).color-blue,
a.link.small.color-yellow:hover {
  color: #81a7e8;
}
a.link:not(.small).color-blue:before,
a.link.small.color-blue:hover:before {
  background-color: #81a7e8;
  z-index: 100;
}

/* Style si mail copié */
.copy-notification {
  position: absolute;
  background-color: #50c6e7;
  color: rgb(30, 28, 28);
  padding: 5px 10px;
  left: 35%;
  z-index: 100;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none; /* Évite l'interaction avec la souris */
}

/* Effet sur les items de la navbar */
.effet-item-nav:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: white;
  animation: loading 20s linear;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}


/* Effet sur le texte de présentation */
h1::before{
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: white;
  animation: loading linear 7s;
}


h2::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: white;
  animation: loading linear 7s;
}

h5::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: white;
  animation: loading linear 10s;
}


.remplissage::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: white;
  animation: loading 8s linear;
  /* font-size: 1.5rem; */
  /* font-style: italic; */
}

@keyframes loading {
  0% {
      max-width: 0%;
  }
}


/* Effet pour les différentes sections de la page d'accueil */
.effet-titre-section {
  transition: transform 1s ease, opacity 0.2s ease; /* Transition pour l'animation */
  transform: translateX(-100%); /* Commence à l'extérieur à gauche */
  opacity: 0; /* Texte invisible par défaut */
}


.effet-contenu-section {
  transition: transform 1.5s ease, opacity 0.2s ease;
  transform: translateX(-100%);
  opacity: 0;
}


/* 
body {
  background: radial-gradient(circle, rgba(8, 34, 54, 1) 25%,rgba(15,37,55,1) 50%, rgba(5, 31, 53, 1) 75%);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50%{
  background-position: 50% 50%;
  }
  80% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
} */


/* Card pour la présentation de mes experiences */
.card-job {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-image: linear-gradient(20deg, rgba(7, 47, 158, 0.7) 25%, rgba(4, 38, 130, 0.3) 50%, rgba(4, 40, 138, 0.1) 100%);
  transition: transform 2s ease, opacity 2s ease;
  transform: rotateX(-100deg);
  opacity: 0;
  filter: grayscale(30%); 
  background-color: rgb(28, 25, 25, 0.5);
  margin-left: auto;
  margin-right: auto;
}

/* Card pour la description de mes experiences */
.card-description-job {
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.66);
  border-radius: 15px;
  color: #ffffff;
  /* background-image: linear-gradient(20deg, rgba(60, 28, 149, 0.25), transparent 70%); */
  background-image: linear-gradient(20deg, rgba(103, 28, 149, 0.5), transparent 80%); 
  opacity: 1;
  background-color: #00000041;
}


/* Typewriter effect */
@media (min-width: 576px) {
  .typewriter h1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid white; /* The typwriter cursor */
    white-space: nowrap ;
    letter-spacing: .15em;
    line-height: 90px;
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {width: 0}
    to {width: 100%;}
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from {border-color: transparent;}
    50% {border-color: white;}
  }

  /* Hide the cursor after the typing animation finishes */
  .typewriter h1.typing-done {
    animation: none; /* Stop all animations */
    border-right: none; /* Hide the cursor */
  }
}

@media (max-width: 575.92px) {
  .typewriter h1{
  letter-spacing: .2em;
  }
}

